node_modules

/src/generated/prisma
.env
.env.local
.env.development
.env.test
.env.production
.env.*.local
.DS_Store
dist
build
coverage
logs
*.log
*.tsbuildinfo
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.pid
*.seed
*.backup
*.zip
*.tar.gz
/src/generated/prisma
